.home {
    min-height: 100vh;
    max-width: 100vw;
    background: url('../../assets/images/homepage.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

    .landingImg{
        size: 100%;
    }
}


