.signUp{
    padding: 54px;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .signUpContent{
        display: flex;
        flex-direction: column;
        width: 30%;

        .title{
            text-align: center;
        }

        form{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 100%;
    
            label {
                font-size: 1.5rem;
                margin: 3% 0;
            }
    
            input {
                height: 3rem;
                font-size: 1.5rem;
            }
    
            .signUpBtn {
                margin: 2rem auto;
                height: 3rem;
                width: 30%;
                font-size: large;
    
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}